.color{
    background: teal;
}

header{
    position: fixed;
    z-index: 10;
}

    .nav{
        width: 100vw;
        background: #594a4ed3;
    }

        .logo{
            color: antiquewhite;
            padding: 5px;
            padding-left: 100px;
            text-shadow: #4d4547e8 3px 3px 2px;
        }

        .logotit{
            font-family: 'Fredericka the Great', cursive;
            padding-left: 5px;
            color: antiquewhite;
            font-size: 2.5em;
            text-shadow: #4d4547e8 4px 4px 2px;
        }

        .opciones{
            margin-right: 12rem;
        }

            .menu{
                width: 35rem;
                flex-flow: row nowrap;
            }
                .menu li{
                    text-decoration: none;
                }

            .item{
                padding: 0px 10px;
                font-family: 'Merienda', cursive;
                font-size: 1em;
                margin-top: 10px;
            }

        .carro{
            color: bisque;
            text-shadow: #4d4547e8 4px 4px 2px;
        }

        .submenu {
            position: relative;
        }
            .submenu #carrito{
                display: none;
            }
            .submenu:hover #carrito{
                display: block;
                position: absolute;
                right: -100px;
            
                top:100%;
                z-index: 1;
                background-color: white;
                padding: 10px 30px;
                min-height: 400px;
                min-width: 300px;
                border-radius: 15px;
                border: #4d4547e8 1px solid;
                font-family: 'Merienda', cursive;
            }

            /* Submenu Header */
            #hero {
                /*background: #a52a2a96;*/
                background-image: url('./Img/dog.jpg');
                background-size: cover;
                min-height: 100px;
                background-position: center;
                height: 240px;
                z-index: 0;
            }
                .contenido-hero {
                    margin-top: 85px;
                    color: white;
                }
                .contenido-hero form {
                    position: relative;
                    margin-bottom: 0;
                }
                .contenido-hero form #buscador {
                    height: 50px;
                    margin-bottom: 0;
                }
                .contenido-hero form .submit-buscador {
                    position: absolute;
                    right:0;
                    top:0;
                    height: 100%;
                    padding: 0;
                    display: block;
                    text-indent: -9999px;
                    width: 50px;
                    background: #7fffd4a1;
                    background-position: right center;
                    background-repeat: no-repeat;
                    border:none;
                }
                .borrar-curso {
                    background-color: red;
                    border-radius: 50%;
                    padding: 3px 7px;
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                }
                .borrar-curso:hover{
                    text-decoration: none;
                    color: whitesmoke;
                }

/* Estilos del Section */
body{
    background: #f5deb356;
}

#lista-cursos .row {
    margin-bottom:20px;
}

#encabezado {
    margin: 30px 0;
    font-family: 'Chewy', cursive;
    letter-spacing: 1px;
    padding-bottom: 5px;
    border-bottom: burlywood solid 1px;
}
    .f1{
        /* background: yellow; */
        padding: 0px 40px;
    }
        .img-productos{
            height: 140px;
            padding: 0px 60px;
            margin-top: 20px;
        }
        .t-titulo{
            font-weight: 600;
        }
        .t-marca{
            font-style: italic;
            color: gray;
        }

